body {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna (verticalmente) */
    justify-content: center; /* Centra los elementos en el eje principal (ahora vertical) */
    align-items: center; /* Centra los elementos en el eje cruzado (ahora horizontal) */
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
}

h1 {
    color: red;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
}

/* Resto de los estilos... */


.calculadora {
    border: 2px solid red; /* Borde rojo para destacar la calculadora */
    background-color: #1e1e1e; /* Fondo ligeramente más claro que el cuerpo para la calculadora */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados más pronunciados */
    box-shadow: 0px 0px 15px 5px rgba(255, 0, 0, 0.7); /* Sombra exterior roja para darle profundidad */
    width: max-content; /* Asegura que la calculadora no sea más grande de lo necesario */
    margin: auto; /* Centrado horizontal en pantallas grandes */
}

.display {
    border-bottom: 2px solid red; /* Borde inferior rojo */
    padding: 10px 20px; /* Mayor espacio horizontal */
    margin-bottom: 15px; /* Más espacio debajo de la pantalla */
    background-color: #2a2a2a; /* Fondo ligeramente diferente para el display */
    font-size: 2em; /* Tamaño de letra más grande para mejor visibilidad */
    border-radius: 5px; /* Bordes redondeados en la pantalla */
}

.btn {
    background-color: #333333; /* Fondo para los botones */
    color: white; /* Texto en color blanco */
    border: 1px solid red; /* Borde rojo en los botones */
    padding: 15px 20px; /* Más espacio dentro de los botones */
    margin: 5px;
    font-size: 1.2em; /* Texto un poco más grande */
    border-radius: 5px; /* Bordes redondeados para los botones */
    transition: background-color 0.3s, transform 0.3s; /* Transición suave para el fondo y la transformación */
}

.btn:hover, .btn:focus {
    background-color: red; /* Cambio de color en el botón al pasar el mouse o enfocar */
    color: #121212; /* Texto oscuro para contraste en botones enfocados o con mouse encima */
    transform: scale(1.05); /* Efecto de crecimiento al pasar el mouse o enfocar */
    outline: none; /* Remueve el outline que aparece al enfocar */
}

/* Media queries para ajustes en dispositivos más pequeños */
@media (max-width: 600px) {
    .calculadora {
        width: 90%;
        box-sizing: border-box; /* Asegura que el padding no añada ancho extra */
    }

    .btn {
        width: 22%; /* Ajuste para que los botones se mantengan en línea */
        padding: 10px 0; /* Ajuste en el espacio vertical para botones más pequeños */
        font-size: 1em; /* Texto más pequeño para mejor ajuste */
    }

    .display {
        font-size: 1.5em; /* Tamaño de fuente más pequeño para el display */
    }
}
